@{
    ViewBag.Title = "Eventos";
}

<h2>View</h2>

<table class="table" id="tablaEventos" ">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Fecha evento
        </th>
        <th>
            Cuota
        </th>
        <th>
            Resultado
        </th>
        <th></th>
    </tr>

</table>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-3.4.1.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/moment.min.js")"</script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Eventos.js")"></script>